.speech { font-family:"Times New Roman" ,times, serif;font-size: 20px;color:black}

.direction { font-family: "Courier New"; font-size: 15px;color:black;background-color: khaki;}
.direction:hover{background-color: yellowgreen;color: gold;}
.MISSTESMAN{ color: darkorange;}
.BERTA{ color:blue;}
.TESMAN{ color:brown;}
.HEDDA{ color:aquamarine;}

table{
    background-color: lightblue;
    color:blue;
    text-align: center;
    padding: 1px;
    border:solid 3px darkviolet;
    margin-bottom: 20px;
}
th {
    background-color:cornflowerblue;
    color:crimson;
    text-align: center;
    padding: 10px;
    border: 1px solid darkviolet;
}
td{border: solid 1px;text-align: center;padding: 9px;}
tr{background-color: darkgreen;}
tr:nth-child(even){background-color:darksalmon;color:yellow;}
