.speech { font-family:"Times New Roman" ,times, serif;font-size: 20px;color:black}

.direction { font-family: "Courier New"; font-size: 15px;color:black;background-color: khaki;}
.direction:hover{background-color: yellowgreen;color: gold;}
.MISSTESMAN{ color: darkorange;}
.BERTA{ color:blue;}
.TESMAN{ color:brown;}
.HEDDA{ color:darkorange;}

.MISSTESMAN:hover{background-color: blue;text-shadow:5px 8px 6px palevioletred;border:solid 3px red;width: 300px;}
.BERTA:hover{background-color: brown;text-shadow:5px 8px 6px fuchsia;border:solid 3px red;width: 300px;}
.TESMAN:hover{background-color: darkorchid;text-shadow:5px 8px 6px black;border:solid 3px red;width: 300px;}
.HEDDA:hover{ background-color: palegreen;text-shadow:5px 8px 6px yellow;border:solid 3px red;width: 300px;}
table{
    background-color: lightblue;
    color:blue;
    text-align: center;
    padding: 1px;
    border:solid 3px darkviolet;
    margin-bottom: 20px;
}
th {
    background-color:cornflowerblue;
    color:crimson;
    text-align: center;
    padding: 10px;
    border: 1px solid darkviolet;
}
td{border: solid 1px;text-align: center;padding: 9px;}
tr{background-color: darkgreen;}
tr:nth-child(even){background-color:darksalmon;color:yellow;}
ul.navbar-horizontal{
    list-style-type:none;
    margin:3px;
    padding:4px;
}
ul.navbar-horizontal li{
    float: left;
    color: black;
}
